.custom-checkbox {
  display: inline-flex;
  align-items: center;
  .checkbox-wd {
    width: 17px;
    height: 17px;
    border: 2px solid rgba(22, 22, 22, 0.75);
    border-radius: 3px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-left: 12px;
  }
}