
.product-card {
  width: 282px;
  height: 330px;
  border: 1px solid black;
}

.photoBox {
  width: 282px;
  height: 192px;
  border-bottom: 1px solid black;
}

.carModelText {
  margin: 16px;

}

.carPrice {
  margin: 0 16px 16px 16px;
}

.carCardFooter {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 21px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.footerText {
  border-right: 1px solid rgba(22, 22, 22, 0.05);
}

.immediateProducts {
  box-sizing: border-box;
  padding: 56px 0;
}

.BannerSection {
  height: 344px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewProducts{
  padding: 56px 0;
}
