.crate-screen {
  width: 100%;
  .crate-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .steps-control {
      &-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: beige;


        button {
          flex: 1;
          height: 180px;
          background-color: #fff;
          cursor: pointer;
          border: none;
          outline: none;
          font-weight: 500;
          font-size: 18px;
          &.active{
            color: blue;
          }
        }
      }
    }
  }
}

.description {
  background-color: #f9f9f9;
  min-height: 400px;
  padding-top: 25px;

  &-content {
    display: flex;
    width: 100%;
    column-gap: 25px;

    &-left {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
      gap: 20px;

      &_item {
        display: flex;
        flex-direction: column;

        label {
          font-size: 14px;
          line-height: 20px;
          color: #161616;
          margin-left: 5px;
          text-transform: capitalize;
        }

        input {
          height: 50px;
          min-width: 250px;
          background: #ffffff;
          border: 1px solid #ededed;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          font-size: 18px;
          color: #161616;
          padding: 10px;
          box-sizing: border-box;
          &:focus {
            border: none;
            outline: none;
          }
        }
      }
    }

    &-right {
      flex: 1;
    }
  }
}

.resources {
  .resources-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    .new-image-frame {
      background: #F5F5F5;
      border-radius: 8px;
      height: 255px;
      width: 100%;
      overflow: hidden;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .remove-btn {
        position: absolute;
        right: 12px;
        top: 12px;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: darkgray;
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
      }
      
      @keyframes showCloseButton {
        from {
          opacity: 0;
          pointer-events: none;
        }
        to {
          opacity: 1;
          pointer-events: all;
        }
      }

      &:hover {
        .remove-btn {
          animation-name: showCloseButton;
          animation-duration: .3s;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
      }
    }
  }
}
