@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');


header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}

#header {
  width: 100%;
  height: 90px;
}

.blue {
  display: inline-block;
  width: 47px;
  height: 44px;
  border-radius: 2px;
  background-color: #5F5CFF;
  position: absolute;
  left: 120px;
  top: 23px;
  bottom: 23px;
}

#filterField{
  margin-top: 10px;
}

.carSvg {
  position: absolute;
  top: 7px;
  right: 7px;
  bottom: 20px;
  left: 8px;
}

.line {
  width: 17px;
  height: 8px;
  position: absolute;
  top: 26px;
  left: 15px;
}

.deo {
  position: absolute;
  left: 174px;
  top: 24px;
  font-size: 30px;
  text-decoration: none;
  color: #161616;


}

.location {
  width: 18px;
  position: absolute;
  left: 17%;
  top: 33px;
}

.place {
  position: absolute;
  left: 18.5%;
  top: 31px;
  text-decoration: none;

}

.addListButton {
  position: absolute;
  right: 245px;
  top: 22px;
  width: 245px;
  height: 45px;
  background-color: #5F5CFF;
  border-radius: 7px;
  border: none;
  color: aliceblue;
  font-family: 'Georama', sans-serif;
  text-decoration: none;

}

.p{
  margin-left: 15px;
  margin-top: 12px;
}

.border {
  position: absolute;
  width: 28px;
  height: 0;
  left: 1298px;
  top: 42px;
  border: 2px solid rgba(22, 22, 22, 0.1);
  transform: rotate(90deg);
}

.chengLen {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 1333px;
  top: 23px;
  background: #FAFAFA;
  border-radius: 4px;
  border: none;
}

.passenger {
  position: absolute;
  top: 120px;
  left: 120px;
}

.MotorEquipment {
  position: absolute;
  top: 120px;
  left: 332px;
}

.Bus {
  position: absolute;
  top: 120px;
  left: 560px;
}

.Truck {
  position: absolute;
  top: 120px;
  left: 800px;
}

.SpecialEquipment {
  position: absolute;
  top: 120px;
  right: 383px;
}

.WaterEquipment {
  position: absolute;
  top: 120px;
  right: 145px;
}

.car1 {
  position: absolute;
  top: 240px;
  left: 150px;
  font-family: 'Georama', sans-serif;
}

.car2 {
  position: absolute;
  top: 240px;
  left: 336px;
  font-family: 'Georama', sans-serif;
}

.car3 {
  position: absolute;
  top: 240px;
  left: 590px;
  font-family: 'Georama', sans-serif;
}

.car4 {
  position: absolute;
  top: 240px;
  left: 830px;
  font-family: 'Georama', sans-serif;
}

.car5 {
  position: absolute;
  top: 240px;
  right: 381px;
  font-family: 'Georama', sans-serif;
}

.car6 {
  position: absolute;
  top: 240px;
  right: 145px;
  font-family: 'Georama', sans-serif;
}

